[submodule "testers/philosophers_tester"]
	path = testers/philosophers_tester
	url = https://github.com/kichkiro/philosophers_tester
[submodule "testers/minishell_tester"]
	path = testers/minishell_tester
	url = https://github.com/kichkiro/minishell_tester
