<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - fgreci</title>

    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
  </head>

  <body>
    <!-- Header ------------------------------------------------------------------------------------------------------->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="index.html">Discovery Piscine</a></h1>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!----------------------------------------------------------------------------------------------------------------->

    <!-- Hero Section ------------------------------------------------------------------------------------------------->
    <div id="hero" class="hero route bg-image" style="background-image: url(../assets/img/2.jpeg);">
      <div class="overlay-itro"></div>
      <div class="hero-content display-table">
        <div class="table-cell">
          <div class="container">
            <h1 class="hero-title mb-4">Bucci</h1>
            <p class="hero-subtitle">
              <span class="typed" data-typed-items="Music Pilot,Visual Artist, MiniDv Diva"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------->

    <main id="main">

      <!-- About Section ---------------------------------------------------------------------------------------------->
      <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-sm-6 col-md-5">
                        <div class="about-img">
                          <img src="../assets/img/1.jpeg" class="img-fluid rounded b-shadow-a" alt="">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-7">
                        <div class="about-info">
                          <p><span class="title-s">Name: </span> <span>Bucci</span></p>
                          <p><span class="title-s">Profile: </span> <span>Multipotential Human Being</span></p>
                        </div>
                      </div>
                    </div>
                    <div class="skill-mf">
                      <p class="title-s">Skill</p>
                      <span>Music Pilot</span> <span class="pull-right">70%</span>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" 
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <span> Eyes & Visions</span> <span class="pull-right">70%</span>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" 
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <span>Human Being </span> <span class="pull-right">100%</span>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="90" 
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                        <h5 class="title-left">
                          About me
                        </h5>
                      </div>
                      <p class="lead">
                        Is it worth it? Let me work it
                        I put my thing down, flip it and reverse it
                        Ti esrever dna ti pilf nwod gnaht ym tup i
                        Ti esrever dna ti pilf nwod gnaht ym tup i
                      </p>
                      <p class="lead">
                        If you got a big, let me search ya
                        To find out how hard I gotta work ya
                        Ti esrever dna ti pilf nwod gnaht ym tup i
                        Ti esrever dna ti pilf nwod gnaht ym tup i (Come on)
                        To my fellas (Ooh, good god)
                        I like the way you work that
                        To my ladies (Woo)
                        You sure know how to work that (Good god)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--------------------------------------------------------------------------------------------------------------->         

      <!-- Contact Section -------------------------------------------------------------------------------------------->
      <section id="contact" style="background-image: url(../assets/img/2.jpeg)  ;" class="paralax-mf footer-paralax 
        bg-image sect-mt4 route">
        <div class="overlay-mf"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="contact-mf">
                <div id="contact" class="box-shadow-full">
                  <div class="row">
                  
                    <div class="col-md-12">
                      <div class="title-box-2 pt-4 pt-md-0">
                        <h5 class="title-left">
                          Get in Touch
                        </h5>
                      </div>
                      <div class="more-info">
                        <p class="lead">
                          Per ulteriori informazioni:
                        </p>
                        <ul class="list-ico">
                          <li><span class="bi bi-geo-alt"></span>...</li>
                          <li><span class="bi bi-phone"></span>...</li>
                          <li><span class="bi bi-envelope"></span>...</li>
                        </ul>
                      </div>
                      <div class="socials">
                        <ul>
                          <li>
                            <a href="#">
                              <span class="ico-circle"><i class="bi bi-instagram"></i></span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--------------------------------------------------------------------------------------------------------------->

    </main>

    <!-- Footer ------------------------------------------------------------------------------------------------------->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>kichkiro</strong> && <strong>fgreci</strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!----------------------------------------------------------------------------------------------------------------->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>

    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/typed.js/typed.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
