<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Discovery Piscine</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
  </head>

  <body>
    <!-- Header ------------------------------------------------------------------------------------------------------->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="index.html">Discovery Piscine</a></h1>
        <nav id="navbar" class="navbar">
          <ul>
            <li class="dropdown"><a href="#"><span>CV</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="cv_kichkiro.html">CV 1</a></li>
                <li><a href="cv_fgreci.html">CV 2</a></li>
              </ul>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!----------------------------------------------------------------------------------------------------------------->

    <!-- Hero Section ------------------------------------------------------------------------------------------------->
    <div id="hero" class="hero route bg-image" style="background-image: url(../assets/img/contact.jpg)">
      <div class="overlay-itro"></div>
        <div class="text-center container px-5 py-5 portfolio" data-aos="zoom-in" data-aos-delay="100">
          <div class="row align-items-center" style="padding-top: 15%;">
            <div class="col-md-6">
              <div class="card rounded-0 mb-3 d-flex justify-content-center align-items-center">
                <div class="bg-image ripple hover-zoom rounded-0" data-mdb-ripple-color="light">
                  <a href="cv_kichkiro.html">
                    <img src="../assets/img/cv1.png" class="img-fluid" placeholder="nature" />
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card rounded-0 mb-3 d-flex justify-content-center align-items-center">
                <div class="bg-image ripple hover-zoom rounded-0" data-mdb-ripple-color="light">
                  <a href="cv_fgreci.html">
                    <img src="../assets/img/cv2.png" class="img-fluid" placeholder="nature" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------->
    
    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/typed.js/typed.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>

</html>
