/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   card.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: kichkiro <marvin@42.fr>                    +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/03/08 11:06:50 by kichkiro          #+#    #+#             */
/*   Updated: 2023/03/08 11:06:50 by kichkiro         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.icon {
	margin: 24px 0;
}

h2 {
	text-align: center;
}

img {
	width: 100%;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
