<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV - kichkiro</title>

    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
  </head>

  <body>
    <!-- Header ------------------------------------------------------------------------------------------------------->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="index.html">Discovery Piscine</a></h1>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!----------------------------------------------------------------------------------------------------------------->

    <!-- Hero Section ------------------------------------------------------------------------------------------------->
    <div id="hero" class="hero route bg-image" style="background-image: url(../assets/img/hero.jpg)">
      <div class="overlay-itro"></div>
      <div class="hero-content display-table">
        <div class="table-cell">
          <div class="container">
            <h1 class="hero-title mb-4"><i>self.name</i> kichkiro</h1>
            <p class="hero-subtitle"><span class="typed" data-typed-items="C, C++, Assembly, Bash, Python"></span></p>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------------------------------------------------------------------------------------------->

    <main id="main">

      <!-- About Section ---------------------------------------------------------------------------------------------->
      <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="box-shadow-full">
                <div class="row">
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-sm-6 col-md-5">
                        <div class="about-img">
                          <img src="../assets/img/profile.jpeg" class="img-fluid rounded b-shadow-a" alt="">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-7">
                        <div class="about-info">
                          <p><span class="title-s">Name: </span> <span>Kirill Chkirov</span></p>
                          <p><span class="title-s">Profile: </span> <span>42 Student</span></p>
                          <p><span class="title-s">Birth: </span> <span>09/01/1996</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                        <h5 class="title-left">
                          About me
                        </h5>
                      </div>
                      <p class="lead">
                        Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan 
                        id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a pellentesque nec, egestas 
                        non nisi. Nulla porttitor accumsan tincidunt.
                      </p>
                      <p class="lead">
                        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                        porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. 
                        porttitor at sem.
                      </p>
                      <p class="lead">
                        Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id 
                        enim. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh 
                        pulvinar a.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--------------------------------------------------------------------------------------------------------------->         

      <!-- Contact Section -------------------------------------------------------------------------------------------->
      <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: 
        url(../assets/img/contact.jpg)">
        <div class="overlay-mf"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="contact-mf">
                <div id="contact" class="box-shadow-full">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="title-box-2 pt-4 pt-md-0">
                        <h5 class="title-left">
                          Get in Touch
                        </h5>
                      </div>
                      <div class="more-info">
                        <p class="lead">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta quidem
                          expedita aperiam aliquid at.
                          Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                          mollitia inventore?
                        </p>
                        <ul class="list-ico">
                          <li><span class="bi bi-geo-alt"></span>...</li>
                          <li><span class="bi bi-phone"></span>...</li>
                          <li><span class="bi bi-envelope"></span>...</li>
                        </ul>
                      </div>
                      <div class="socials">
                        <ul>
                          <li><a href=""><span class="ico-circle"><i class="bi bi-github"></i></span></a></li>
                          <li><a href=""><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--------------------------------------------------------------------------------------------------------------->

    </main>

    <!-- Footer ------------------------------------------------------------------------------------------------------->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>kichkiro</strong> && <strong>fgreci</strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!----------------------------------------------------------------------------------------------------------------->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>

    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/typed.js/typed.min.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
